{% extends "base.html" %}
{% comment %} Main page of the website.  {% endcomment %}
{% block head %}
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}lib/jquery.cookies.2.2.0.min.js"></script>
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}lib/jquery.blockUI.js"></script>
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}lib/OpenLayers.js"></script>
<script type="text/javascript" language="javascipt" src="{{ STATIC_URL }}lib/track_viewer.js"></script>
<title>VASA</title>
{% endblock %}
{% block content %}

<body id="main_container" style="height:1000px; width:1000px">
    <div style="background-color:#E0E0E0; position:absolute; top:0px; left:0px; z-index:1005;">
	<input type=checkbox id=shapeflag><label type="float: left, position:relative">Show probability shape</label><br>
 	<label style="float:left; position:relative">Select a year: </label>
        <select id="adcirc_year_selector" style="position:relative; float:left; left:10px; width:auto" onchange="get_storm_list(this.options[this.selectedIndex].value)"></select><br>
	<div id=adcirc_storm_selection hidden>
	    <label style="float:left; position:relative">Select a storm: </label>
	    <select id="adcirc_storm_selector" style="position:relative; float:left; left:10px; width:auto" onchange="get_dataset_list(this.options[this.selectedIndex].value)"></select>
	</div>
	<div id=adcirc_dataset_selection hidden>
	    <label style="float:left; position:relative">Select a dataset: </label>
	    <select id="adcirc_dataset_selector" style="position:relative; float:left; left:10px; width:auto" onchange="get_track(this.options[this.selectedIndex].value)"></select>
	</div>
    </div>
    <div id="map" style="position:absolute; top:0px; left:0px; height:100%; width:100%"></div>
</div>
</body>
{% endblock %}





